.application {
  display: flex;
  height: 100vh;
}

.sidebar {
  padding: 8px;
  background-color: #101010;
  max-width: 10rem;
  min-width: 5rem;
  overflow: hidden;
}
.sidebar.closed {
  width: 0;
  min-width: 0;
  max-width: 0;
}
.sidebar.closed:hover {
  width: 0;
  min-width: 0;
  max-width: 0;
  background-color: #1f1f1f;
}
.sidebar > .item {
  border-radius: 4px;
  color: #ffffff;
  display: block;
  padding: 8px;
  font-weight: 1000;
}
.sidebar > .item:hover {
  border-left: 4px solid #24c8db;
  background-color: #2f2f2f;
  padding-right: 4px;
  transition: background-color 0.25s, border-left-width 0.25s,
    padding-right 0.25s;
}

.logo {
  padding: 1.5em !important;
}

span.logos > a > span {
  overflow: inherit !important;
}

.logo.next:hover {
  filter: drop-shadow(0 0 2em #36373f);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@media (prefers-color-scheme: dark) {
  .logo.next:hover {
    filter: drop-shadow(0 0 2em #ffff);
  }
}
